*{ 
    margin: 0; 
    font-family: 'Open Sans', sans-serif;
} 
/* hader nad navigation style */  
.nav-item{ 
    font-size: 20px;
}
.nav-title{ 
   font-weight: 800px; 
   font-size: 45px;
} 
.text-praimary{ 
    color: #FD6E0A;
} 
nav{ 
    display: flex; 
    justify-content: space-between; 
    margin: 50px 200px ;
} 
nav ul{ 
    display: flex; 
    align-items: center;
} 
nav li{ 
    list-style: none; 
    margin-left: 50px; 
    font-weight: bold;
} 
.btn{ 
    width: 150px; 
    height: 50px; 
    background-color: #FD6E0A; 
    color: #fff; 
    border-radius: 5px; 
    border: 0; 
    font-weight: bold;
}  
.btn:hover{ 
    width: 153px; 
    height: 53px; 
    background-color: #f80074; 
    color: #fff; 
    border-radius: 5px; 
    border: 0; 
    font-weight: bold; 
    transition: 1s;
}

/* header banner style  */ 
.new-btn{ 
    width: 150px; 
    height: 50px; 
    color: #FD6E0A; 
    border-radius: 5px; 
    border: 1px solid #FD6E0A; 
    font-weight: bold; 
    margin-left:20px; 
    background-color: none;
}  
.header{ 
    background-image: url(./images/header_bg.png), url(./images/developer.png); 
    background-repeat: no-repeat; 
    background-position: bottom right,left;
}
.hader-banner{ 
    display: flex; 
    margin: 50px 200px; 
    align-items: center; 
  
} 
.sub-title{ 
    font-weight: 400; 
    font-size: 45px;
} 
.header-title{ 
    font-weight: 700; 
    font-size: 45px; 
    margin-top: 20px;
} 
.header-description{ 
    margin-bottom: 30px; 
    margin-top: 20px;
} 
/* main section style */ 

main{
    max-width: 1140px; 
    margin: 100px auto;  
   
} 

.about-section{ 
    background-color: #FFF8F3; 
    text-align: center; 
    padding: 130px 150px; 
    
} 
.about-title{ 
    margin-bottom: 30px;
} 
.about-description{ 
    margin-bottom: 30px; 

}
.about-container{ 
   display: flex; 
justify-content: space-around; 
border-top: 1px solid black;
border-bottom: 1px solid black;  
padding: 5px;
} 
.about-info p{ 
    font-weight: bold; 

} 
.about-title{ 
    font-size: 45px;
} 

/* skills section style */ 
.skill-section{ 
    max-width: 1140px; 
    margin: 100px auto; 
    text-align: center;
}  
.skill-section h1{ 
    font-size: 40px; 
    margin-bottom: 20px;
}
.skills{ 
    display: flex; 
    justify-content: space-around; 
    margin-top: 50px;
} 
.skill-item{ 
    padding: 33px; 
    max-width: 15%;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 2px 1px 20px 0px;
} 
.skill-title{ 
    margin-top: 10px;
margin-bottom: 10px;
} 
.skill-description{ 
} 

/* resume section */ 
.resume{ 
    display: flex;  
    justify-content:space-between ; 

}  
.edu{ 
    margin-right: 5px;
}
.resume-title{ 
text-align: center; 
font-size: 40px; 
margin: 80px 0px; 
text-decoration: underline wavy black;
} 
.resume-element{ 
    margin-bottom: 20px; 
    border-bottom: 1px solid rgba(27, 27, 27, 0.596);
} 
.resume-sub-title{ 
    margin-bottom: 20px;
} 

.btn-two{ 
    text-align: center; 
    margin-top: 50px;
} 

/* footer style  */  
.footer-section{  
    padding: 50px; 
    height: 250px;
    background-color: #FD6E0A;
}
.footer{  
    display: flex; 
     justify-content: space-between; 
     max-width: 1140px; 
     margin:0 auto; 
     color: #ffff;
} 
.footer-title{ 
    font-size: 45px;
} 
.footer-item h1{ 
    margin-bottom: 20px;
}